.slick-prev,
.slick-next {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50px !important;
  padding: 15px !important;
  background: #fff !important;
  box-shadow: 0px 7.031px 19.531px 0px rgba(0, 0, 0, 0.06) !important;
  z-index: 10 !important;
  &:hover {
    cursor: pointer;
    background: #fff;
  }
  &.slick-disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.slick-slider {
  .slick-list {
    margin: 0 -10px;
  }
  .slick-slide {
    padding: 0 10px;
  }
}

.slick-track {
  margin-left: initial !important;
  margin-right: initial !important;
}

@media only screen and (max-width: 600px) {
  .slick-prev,
  .slick-next {
    width: 32px !important;
    height: 32px !important;
    padding: 8px !important;
    &:hover {
      cursor: pointer;
      background: #fff;
    }
  }

  .slick-prev {
    left: 0 !important;
  }

  .slick-next {
    right: 0 !important;
  }

  .slick-slider {
    .slick-list {
      margin: 0 -10px;
    }
    .slick-slide {
      padding: 0 5px;
    }
  }
}
