@font-face {
  font-family: "Spectral";
  src: url('./fonts/Spectral/Spectral-Bold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Spectral";
  src: url('./fonts/Spectral/Spectral-BoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Spectral";
  src: url('./fonts/Spectral/Spectral-ExtraBold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Spectral";
  src: url('./fonts/Spectral/Spectral-ExtraBoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Spectral";
  src: url('./fonts/Spectral/Spectral-ExtraLight.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Spectral";
  src: url('./fonts/Spectral/Spectral-ExtraLightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Spectral";
  src: url('./fonts/Spectral/Spectral-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Spectral";
  src: url('./fonts/Spectral/Spectral-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Spectral";
  src: url('./fonts/Spectral/Spectral-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Spectral";
  src: url('./fonts/Spectral/Spectral-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Spectral";
  src: url('./fonts/Spectral/Spectral-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Spectral";
  src: url('./fonts/Spectral/Spectral-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Spectral";
  src: url('./fonts/Spectral/Spectral-SemiBold.ttf');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Spectral";
  src: url('./fonts/Spectral/Spectral-SemiBoldItalic.ttf');
  font-weight: bolder;
  font-style: italic;
}
