*,
:after,
:before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.visible {
  visibility: visible !important;
}
.collapse {
  visibility: collapse !important;
}
.fixed {
  position: fixed !important;
}
.absolute {
  position: absolute !important;
}
.relative {
  position: relative !important;
}
.sticky {
  position: sticky !important;
}
.bottom-0 {
  bottom: 0 !important;
}
.bottom-4 {
  bottom: 1rem !important;
}
.left-1 {
  left: 0.25rem !important;
}
.right-1 {
  right: 0.25rem !important;
}
.top-0 {
  top: 0 !important;
}
.top-28 {
  top: 7rem !important;
}
.top-40 {
  top: 10rem !important;
}
.z-10 {
  z-index: 10 !important;
}
.col-span-2 {
  grid-column: span 2 / span 2 !important;
}
.m-1 {
  margin: 0.25rem !important;
}
.m-4 {
  margin: 1rem !important;
}
.m-auto {
  margin: auto !important;
}
.mx-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}
.mx-4 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.my-2 {
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important;
}
.my-3 {
  margin-bottom: 0.75rem !important;
  margin-top: 0.75rem !important;
}
.my-4 {
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}
.my-8 {
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-10 {
  margin-bottom: 2.5rem !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.mb-36 {
  margin-bottom: 9rem !important;
}
.mb-4 {
  margin-bottom: 1rem !important;
}
.mb-8 {
  margin-bottom: 2rem !important;
}
.ml-1 {
  margin-left: 0.25rem !important;
}
.ml-11 {
  margin-left: 2.75rem !important;
}
.ml-2 {
  margin-left: 0.5rem !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mr-1 {
  margin-right: 0.25rem !important;
}
.mr-2 {
  margin-right: 0.5rem !important;
}
.mr-4 {
  margin-right: 1rem !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: 0.25rem !important;
}
.mt-12 {
  margin-top: 3rem !important;
}
.mt-3 {
  margin-top: 0.75rem !important;
}
.mt-4 {
  margin-top: 1rem !important;
}
.mt-8 {
  margin-top: 2rem !important;
}
.block {
  display: block !important;
}
.inline-block {
  display: inline-block !important;
}
.inline {
  display: inline !important;
}
.flex {
  display: flex !important;
}
.inline-flex {
  display: inline-flex !important;
}
.grid {
  display: grid !important;
}
.contents {
  display: contents !important;
}
.hidden {
  display: none !important;
}
.h-12 {
  height: 3rem !important;
}
.h-14 {
  height: 3.5rem !important;
}
.h-16 {
  height: 4rem !important;
}
.h-20 {
  height: 5rem !important;
}
.h-28 {
  height: 7rem !important;
}
.h-6 {
  height: 1.5rem !important;
}
.h-full {
  height: 100% !important;
}
.h-screen {
  height: 100vh !important;
}
.min-h-full {
  min-height: 100% !important;
}
.min-h-screen {
  min-height: 100vh !important;
}
.w-11 {
  width: 2.75rem !important;
}
.w-11\/12 {
  width: 91.666667% !important;
}
.w-12 {
  width: 3rem !important;
}
.w-14 {
  width: 3.5rem !important;
}
.w-16 {
  width: 4rem !important;
}
.w-20 {
  width: 5rem !important;
}
.w-24 {
  width: 6rem !important;
}
.w-28 {
  width: 7rem !important;
}
.w-32 {
  width: 8rem !important;
}
.w-36 {
  width: 9rem !important;
}
.w-48 {
  width: 12rem !important;
}
.w-6 {
  width: 1.5rem !important;
}
.w-full {
  width: 100% !important;
}
.min-w-0 {
  min-width: 0 !important;
}
.max-w-full {
  max-width: 100% !important;
}
.flex-1 {
  flex: 1 1 0% !important;
}
.flex-auto {
  flex: 1 1 auto !important;
}
.flex-none {
  flex: none !important;
}
.basis-1\/2 {
  flex-basis: 50% !important;
}
.basis-1\/3 {
  flex-basis: 33.333333% !important;
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y)) !important;
}
@keyframes ping {
  75%,
  to {
    opacity: 0;
    transform: scale(2);
  }
}
.animate-ping-slow {
  animation: ping 4s cubic-bezier(0, 0, 0.2, 1) infinite !important;
}
.cursor-pointer {
  cursor: pointer !important;
}
.resize {
  resize: both !important;
}
.snap-y {
  scroll-snap-type: y var(--tw-scroll-snap-strictness) !important;
}
.snap-mandatory {
  --tw-scroll-snap-strictness: mandatory !important;
}
.snap-center {
  scroll-snap-align: center !important;
}
.snap-always {
  scroll-snap-stop: always !important;
}
.list-outside {
  list-style-position: outside !important;
}
.list-none {
  list-style-type: none !important;
}
.auto-cols-fr {
  grid-auto-columns: minmax(0, 1fr) !important;
}
.grid-flow-col {
  grid-auto-flow: column !important;
}
.auto-rows-fr {
  grid-auto-rows: minmax(0, 1fr) !important;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
}
.flex-row {
  flex-direction: row !important;
}
.flex-col {
  flex-direction: column !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.items-start {
  align-items: flex-start !important;
}
.items-end {
  align-items: flex-end !important;
}
.items-center {
  align-items: center !important;
}
.justify-start {
  justify-content: flex-start !important;
}
.justify-end {
  justify-content: flex-end !important;
}
.justify-center {
  justify-content: center !important;
}
.justify-between {
  justify-content: space-between !important;
}
.gap-1 {
  gap: 0.25rem !important;
}
.gap-2 {
  gap: 0.5rem !important;
}
.gap-4 {
  gap: 1rem !important;
}
.gap-\[8px\] {
  gap: 8px !important;
}
.gap-x-4 {
  -moz-column-gap: 1rem !important;
  column-gap: 1rem !important;
}
.gap-y-4 {
  row-gap: 1rem !important;
}
.space-x-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0 !important;
  margin-left: calc(0.25rem * (1 - var(--tw-space-x-reverse))) !important;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse)) !important;
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0 !important;
  margin-left: calc(0.5rem * (1 - var(--tw-space-x-reverse))) !important;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse)) !important;
}
.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0 !important;
  margin-left: calc(1rem * (1 - var(--tw-space-x-reverse))) !important;
  margin-right: calc(1rem * var(--tw-space-x-reverse)) !important;
}
.space-x-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0 !important;
  margin-left: calc(2rem * (1 - var(--tw-space-x-reverse))) !important;
  margin-right: calc(2rem * var(--tw-space-x-reverse)) !important;
}
.space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0 !important;
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse)) !important;
  margin-top: calc(0.25rem * (1 - var(--tw-space-y-reverse))) !important;
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0 !important;
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse)) !important;
  margin-top: calc(0.5rem * (1 - var(--tw-space-y-reverse))) !important;
}
.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0 !important;
  margin-bottom: calc(1rem * var(--tw-space-y-reverse)) !important;
  margin-top: calc(1rem * (1 - var(--tw-space-y-reverse))) !important;
}
.space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0 !important;
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse)) !important;
  margin-top: calc(1.5rem * (1 - var(--tw-space-y-reverse))) !important;
}
.space-y-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0 !important;
  margin-bottom: calc(2rem * var(--tw-space-y-reverse)) !important;
  margin-top: calc(2rem * (1 - var(--tw-space-y-reverse))) !important;
}
.overflow-auto {
  overflow: auto !important;
}
.overflow-y-auto {
  overflow-y: auto !important;
}
.truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
.whitespace-pre-wrap {
  white-space: pre-wrap !important;
}
.rounded {
  border-radius: 0.25rem !important;
}
.rounded-full {
  border-radius: 9999px !important;
}
.rounded-lg {
  border-radius: 0.5rem !important;
}
.rounded-t {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}
.border {
  border-width: 1px !important;
}
.border-2 {
  border-width: 2px !important;
}
.border-b {
  border-bottom-width: 1px !important;
}
.border-b-0 {
  border-bottom-width: 0 !important;
}
.border-l {
  border-left-width: 1px !important;
}
.border-l-0 {
  border-left-width: 0 !important;
}
.border-r {
  border-right-width: 1px !important;
}
.border-r-0 {
  border-right-width: 0 !important;
}
.border-t-0 {
  border-top-width: 0 !important;
}
.border-t-2 {
  border-top-width: 2px !important;
}
.border-solid {
  border-style: solid !important;
}
.border-dashed {
  border-style: dashed !important;
}
.border-none {
  border-style: none !important;
}
.border-antd-gray {
  --tw-border-opacity: 1 !important;
  border-color: rgb(217 217 217 / var(--tw-border-opacity)) !important;
}
.border-custom-gray {
  --tw-border-opacity: 1 !important;
  border-color: rgb(140 140 140 / var(--tw-border-opacity)) !important;
}
.border-emerald-400 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(52 211 153 / var(--tw-border-opacity)) !important;
}
.border-gray-200 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(209 213 219 / var(--tw-border-opacity)) !important;
}
.border-rose-400 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(251 113 133 / var(--tw-border-opacity)) !important;
}
.border-white {
  --tw-border-opacity: 1 !important;
  border-color: rgb(255 255 255 / var(--tw-border-opacity)) !important;
}
.bg-amber-50 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 251 235 / var(--tw-bg-opacity)) !important;
}
.bg-custom-background {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}
.bg-custom-light-gray {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity)) !important;
}
.bg-custom-yellow {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(250 215 23 / var(--tw-bg-opacity)) !important;
}
.bg-emerald-100 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(209 250 229 / var(--tw-bg-opacity)) !important;
}
.bg-emerald-400 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(52 211 153 / var(--tw-bg-opacity)) !important;
}
.bg-emerald-50 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(236 253 245 / var(--tw-bg-opacity)) !important;
}
.bg-gray-100 {
  background-color: rgb(243 244 246 / var(--tw-bg-opacity)) !important;
}
.bg-gray-100,
.bg-gray-50 {
  --tw-bg-opacity: 1 !important;
}
.bg-gray-50 {
  background-color: rgb(249 250 251 / var(--tw-bg-opacity)) !important;
}
.bg-neutral-50 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity)) !important;
}
.bg-rose-100 {
  background-color: rgb(255 228 230 / var(--tw-bg-opacity)) !important;
}
.bg-rose-100,
.bg-rose-400 {
  --tw-bg-opacity: 1 !important;
}
.bg-rose-400 {
  background-color: rgb(251 113 133 / var(--tw-bg-opacity)) !important;
}
.bg-rose-50 {
  background-color: rgb(255 241 242 / var(--tw-bg-opacity)) !important;
}
.bg-rose-50,
.bg-white {
  --tw-bg-opacity: 1 !important;
}
.bg-white {
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}
.bg-white\/90 {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
}
.bg-yellow-300 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(253 224 71 / var(--tw-bg-opacity)) !important;
}
.object-contain {
  -o-object-fit: contain !important;
  object-fit: contain !important;
}
.object-cover {
  -o-object-fit: cover !important;
  object-fit: cover !important;
}
.p-0 {
  padding: 0 !important;
}
.p-1 {
  padding: 0.25rem !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.p-4 {
  padding: 1rem !important;
}
.p-6 {
  padding: 1.5rem !important;
}
.px-12 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}
.px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
.px-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.px-6 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}
.px-8 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
.py-1 {
  padding-bottom: 0.25rem !important;
  padding-top: 0.25rem !important;
}
.py-2 {
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
}
.py-3 {
  padding-bottom: 0.75rem !important;
  padding-top: 0.75rem !important;
}
.py-4 {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}
.pb-3 {
  padding-bottom: 0.75rem !important;
}
.pb-4 {
  padding-bottom: 1rem !important;
}
.pt-1 {
  padding-top: 0.25rem !important;
}
.pt-3 {
  padding-top: 0.75rem !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.align-middle {
  vertical-align: middle !important;
}
.text-2xl {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}
.text-3xl {
  font-size: 1.875rem !important;
  line-height: 2.25rem !important;
}
.text-4xl {
  font-size: 2.25rem !important;
  line-height: 2.5rem !important;
}
.text-base {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}
.text-lg {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
}
.text-sm {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}
.text-xl {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
}
.text-xs {
  font-size: 0.75rem !important;
  line-height: 1rem !important;
}
.text-xxs {
  font-size: 0.7rem !important;
}
.font-bold {
  font-weight: 700 !important;
}
.leading-none {
  line-height: 1 !important;
}
.text-black\/60 {
  color: rgba(0, 0, 0, 0.6) !important;
}
.text-custom-gray {
  --tw-text-opacity: 1 !important;
  color: rgb(140 140 140 / var(--tw-text-opacity)) !important;
}
.text-custom-red {
  --tw-text-opacity: 1 !important;
  color: rgb(255 89 94 / var(--tw-text-opacity)) !important;
}
.text-emerald-600 {
  --tw-text-opacity: 1 !important;
  color: rgb(5 150 105 / var(--tw-text-opacity)) !important;
}
.text-gray-400 {
  --tw-text-opacity: 1 !important;
  color: rgb(156 163 175 / var(--tw-text-opacity)) !important;
}
.text-red-400 {
  --tw-text-opacity: 1 !important;
  color: rgb(248 113 113 / var(--tw-text-opacity)) !important;
}
.text-rose-400 {
  --tw-text-opacity: 1 !important;
  color: rgb(251 113 133 / var(--tw-text-opacity)) !important;
}
.text-pink-400 {
  --tw-text-opacity: 1 !important;
  color: rgb(236 0 140 / var(--tw-text-opacity)) !important;
}
.text-rose-600 {
  --tw-text-opacity: 1 !important;
  color: rgb(225 29 72 / var(--tw-text-opacity)) !important;
}
.text-teal-400 {
  color: rgb(45 212 191 / var(--tw-text-opacity)) !important;
}
.text-teal-400,
.text-white {
  --tw-text-opacity: 1 !important;
}
.text-white {
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}
.text-zinc-400 {
  --tw-text-opacity: 1 !important;
  color: rgb(161 161 170 / var(--tw-text-opacity)) !important;
}
.line-through {
  text-decoration-line: line-through !important;
}
.opacity-30 {
  opacity: 0.3 !important;
}
.shadow {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1) !important;
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color) !important;
}
.shadow,
.shadow-md {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow) !important;
}
.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1) !important;
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color) !important;
}
.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color) !important;
}
.shadow-sm,
.shadow-top {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow) !important;
}
.shadow-top {
  --tw-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.2) !important;
  --tw-shadow-colored: 0 -5px 5px -5px var(--tw-shadow-color) !important;
}
.shadow-emerald-400 {
  --tw-shadow-color: #34d399 !important;
  --tw-shadow: var(--tw-shadow-colored) !important;
}
.shadow-rose-400 {
  --tw-shadow-color: #fb7185 !important;
  --tw-shadow: var(--tw-shadow-colored) !important;
}
.outline {
  outline-style: solid !important;
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale)
    var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important;
}
.transition {
  transition-duration: 0.15s !important;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, -webkit-backdrop-filter !important;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter !important;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
}
body,
html {
  height: 100%;
  width: 100%;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
*,
:after,
:before {
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: sans-serif;
  line-height: 1.15;
}
body {
  margin: 0;
}
[tabindex='-1']:focus {
  outline: none;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin-bottom: 0.5em;
  margin-top: 0;
}
p {
  margin-bottom: 1em;
  margin-top: 0;
}
abbr[data-original-title],
abbr[title] {
  border-bottom: 0;
  cursor: help;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline;
  text-decoration: underline dotted;
}
address {
  font-style: normal;
  line-height: inherit;
  margin-bottom: 1em;
}
input[type='number'],
input[type='password'],
input[type='text'],
textarea {
  -webkit-appearance: none;
}
dl,
ol,
ul {
  margin-bottom: 1em;
  margin-top: 0;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}
dt {
  font-weight: 500;
}
dd {
  margin-bottom: 0.5em;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1em;
}
dfn {
  font-style: italic;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 1em;
}
pre {
  margin-bottom: 1em;
  margin-top: 0;
  overflow: auto;
}
figure {
  margin: 0 0 1em;
}
img {
  border-style: none;
  vertical-align: middle;
}
[role='button'],
a,
area,
button,
input:not([type='range']),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
table {
  border-collapse: collapse;
}
caption {
  caption-side: bottom;
  padding-bottom: 0.3em;
  padding-top: 0.75em;
  text-align: left;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type='reset'],
[type='submit'],
button,
html [type='button'] {
  -webkit-appearance: button;
}
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='time'] {
  -webkit-appearance: listbox;
}
textarea {
  overflow: auto;
  resize: vertical;
}
fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0;
}
legend {
  color: inherit;
  display: block;
  font-size: 1.5em;
  line-height: inherit;
  margin-bottom: 0.5em;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  width: 100%;
}
progress {
  vertical-align: baseline;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: none;
  outline-offset: -2px;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
output {
  display: inline-block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none !important;
}
mark {
  background-color: #feffe6;
  padding: 0.2em;
}
.buttonBack___1mlaL,
.buttonFirst___2rhFr,
.buttonLast___2yuh0,
.buttonNext___2mOCa,
.buttonNext___3Lm3s,
.dot___3c3SI {
  cursor: pointer;
}
.image___xtQGH {
  display: block;
  height: 100%;
  width: 100%;
}
.spinner___27VUp {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: spin___S3UuE;
  animation-timing-function: linear;
  border: 4px solid #a9a9a9;
  border-radius: 30px;
  border-top-color: #000;
  height: 30px;
  left: calc(50% - 15px);
  position: absolute;
  top: calc(50% - 15px);
  width: 30px;
}
@keyframes spin___S3UuE {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
.container___2O72F {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.overlay___IV4qY {
  bottom: 0;
  cursor: zoom-in;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.3s, transform 0.3s;
}
.hover___MYy31,
.loading___1pvNI,
.zoom___3kqYk {
  opacity: 1;
}
.imageLoadingSpinnerContainer___3UIPD {
  background-color: #f4f4f4;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.slide___3-Nqo {
  box-sizing: border-box;
  display: block;
  height: 0;
  list-style-type: none;
  margin: 0;
  position: relative;
}
.slide___3-Nqo:focus {
  outline: none !important;
}
.slideHorizontal___1NzNV {
  float: left;
}
[dir='rtl'] .slideHorizontal___1NzNV {
  direction: rtl;
  transform: scaleX(-1);
}
.slideInner___2mfX9 {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.focusRing___1airF {
  bottom: 5px;
  left: 5px;
  outline-color: Highlight;
  outline-style: solid;
  outline-width: 5px;
  pointer-events: none;
  position: absolute;
  right: 5px;
  top: 5px;
}
@media (-webkit-min-device-pixel-ratio: 0) {
  .focusRing___1airF {
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
  }
}
.horizontalSlider___281Ls {
  overflow: hidden;
  position: relative;
  touch-action: pan-y pinch-zoom;
}
[dir='rtl'] .horizontalSlider___281Ls {
  direction: ltr;
  transform: scaleX(-1);
}
.horizontalSliderTray___1L-0W {
  overflow: hidden;
  width: 100%;
}
.verticalSlider___34ZFD {
  overflow: hidden;
  position: relative;
}
.verticalSliderTray___267D8 {
  overflow: hidden;
}
.verticalTray___12Key {
  float: left;
}
.verticalSlideTrayWrap___2nO7o {
  overflow: hidden;
}
.sliderTray___-vHFQ {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sliderAnimation___300FY {
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  will-change: transform;
}
.masterSpinnerContainer___1Z6hB {
  background-color: #f4f4f4;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
html {
  color: rgba(0, 0, 0, 0.6);
  scroll-behavior: smooth;
}
body {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
  font-family: Noto Sans JP, 游ゴシック, 游ゴシック体, YuGothic, Yu Gothic, メイリオ, Meiryo,
    ＭＳ ゴシック, MS Gothic, HiraKakuProN-W3, TakaoExゴシック, TakaoExGothic, MotoyaLCedar,
    Droid Sans Japanese, sans-serif;
}
svg {
  vertical-align: baseline;
}
img {
  display: inline-block;
  image-rendering: -webkit-optimize-contrast !important;
}
textarea {
  resize: none;
}
p {
  margin-bottom: 0;
}
.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional):after {
  --tw-text-opacity: 1;
  background-color: #ff4d4f;
  border-radius: 0.25rem;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  content: '必須';
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1rem;
  line-height: 1;
  margin-left: 0.5rem;
  padding: 0.25rem;
}
.ant-table-body {
  overflow: auto !important;
}
.hide-timepicker-footer .ant-picker-footer {
  display: none;
}
.custom-required-decoration {
  background-color: #ff4d4f;
}
.custom-optional-decoration,
.custom-required-decoration {
  --tw-text-opacity: 1;
  border-radius: 0.25rem;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1rem;
  line-height: 1;
  margin-left: 0.5rem;
  padding: 0.25rem;
  position: relative;
}
.custom-optional-decoration {
  background-color: #d6d6d6;
}
.barcode-image-wrapper {
  position: relative;
}
.barcode-image-wrapper video {
  display: block;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.barcode-image-wrapper:before {
  background: linear-gradient(90deg, #f5222d 4px, transparent 0) 0 0,
    linear-gradient(90deg, #f5222d 4px, transparent 0) 0 100%,
    linear-gradient(270deg, #f5222d 4px, transparent 0) 100% 0,
    linear-gradient(270deg, #f5222d 4px, transparent 0) 100% 100%,
    linear-gradient(180deg, #f5222d 4px, transparent 0) 0 0,
    linear-gradient(180deg, #f5222d 4px, transparent 0) 100% 0,
    linear-gradient(0deg, #f5222d 4px, transparent 0) 0 100%,
    linear-gradient(0deg, #f5222d 4px, transparent 0) 100% 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  bottom: 0;
  box-shadow: unset !important;
  content: '';
  left: 0;
  margin: 20px;
  position: absolute;
  right: 0;
  top: 0;
}
#nprogress .bar {
  background: #99ca29;
}
#nprogress .peg {
  box-shadow: 0 0 10px #99ca29, 0 0 5px #99ca29;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.custom-ol li::marker {
  content: '※';
}
.custom-ol li {
  padding-left: 0.25rem;
}
.custom-select {
  --tw-border-opacity: 1 !important;
  --tw-bg-opacity: 1 !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E")
    no-repeat;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
  background-position: calc(100% - 0.75rem) !important;
  border-color: rgb(140 140 140 / var(--tw-border-opacity)) !important;
  border-radius: 0.25rem !important;
  border-width: 1px !important;
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
  padding: 0.5rem 2rem 0.5rem 1rem !important;
}
.hover\:scale-105:hover {
  --tw-scale-x: 1.05 !important;
  --tw-scale-y: 1.05 !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y)) !important;
}
.hover\:opacity-75:hover {
  opacity: 0.75 !important;
}
.hover\:duration-300:hover {
  transition-duration: 0.3s !important;
}
.hover\:ease-in-out:hover {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
}
@media (min-width: 640px) {
  .sm\:w-1\/2 {
    width: 50% !important;
  }
}
@media (min-width: 768px) {
  .md\:w-1\/2 {
    width: 50% !important;
  }
  .md\:w-3\/4 {
    width: 75% !important;
  }
  .md\:text-2xl {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
  }
}
@media (min-width: 1024px) {
  .lg\:w-1\/2 {
    width: 50% !important;
  }
  .lg\:w-1\/3 {
    width: 33.333333% !important;
  }
  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
}
@media (min-width: 1280px) {
  .xl\:w-1\/2 {
    width: 50% !important;
  }
  .xl\:w-1\/4 {
    width: 25% !important;
  }
}
@media (min-width: 1536px) {
  .\32xl\:w-1\/3 {
    width: 33.333333% !important;
  }
}
/*# sourceMappingURL=tailwind-generated.css.map */
